@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Madimi One", sans-serif; */
/* font-family: "Montserrat Alternates", sans-serif;
font-family: "Montserrat Alternates", sans-serif;
font-family: "Montserrat Alternates", sans-serif; */
/* comienzo index */
* {
  padding: 0;
  margin: 0;
}

section img {
  height: auto;
  max-width: 280PX;
  display: flexbox;
  margin: 20px;
  padding: 10px;
}

.navbar {
  min-height: 80px;
  position: sticky;
}
.navbar a {
  color: #fafafa;
  font-size: 18px;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 20px;
}
.navbar a:hover {
  color: orangered;
  text-shadow: 0 0 5px #fafafa;
}

.navbar button {
  margin: 20px;
  height: auto;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.jumbotron {
  background-image: url(../multimedia/FONDO.jpg);
  background-size: cover;
  background-position: center;
  height: fit-content;
  width: 100%;
}

.call {
  height: fit-content;
  text-align: center;
  text-shadow: 0 0 5px red;
  color: black;
  background-color: rgba(255, 255, 255, 0.452);
  border: 5px solid rgba(255, 255, 255, 0.438);
  border-radius: 15px;
  padding: 30px;
}
.call h1 {
  font-size: 18px;
}
.call p {
  color: black;
  font-size: 15px;
  text-shadow: none;
}

.container-fluid {
  height: 100%;
  overflow: hidden;
}
.container-fluid h2 {
  color: black;
}
.container-fluid .img1 {
  border: 5px solid rgba(0, 0, 0, 0.61);
  background-color: gray;
}
.container-fluid .img2 {
  border: 5px solid rgba(0, 0, 0, 0.61);
  background-color: gray;
}
.container-fluid .img3 {
  border: 5px solid rgba(0, 0, 0, 0.61);
  background-color: gray;
}

.row img {
  width: auto;
  height: 180px;
}

h1 {
  font-size: 35px;
  font-family: "Madimi One", sans-serif;
}

h2 {
  font-family: "Madimi One", sans-serif;
  margin: 15px;
}

p {
  font-size: 22px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fafafa;
  margin: 15px;
}

footer {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 100px;
  text-shadow: 0 0 7px red;
}

.redes a {
  text-decoration: none;
  text-align: end;
  color: #fafafa;
  font-size: 30px;
  text-shadow: 0 0 7px red;
  margin-top: 35px;
  margin-left: 20px;
  margin-inline-end: 10px;
}

.arriba i {
  color: #fafafa;
  text-align: center;
  margin-left: 10PX;
  margin-top: 35px;
  text-shadow: 0 0 10px red;
  font-size: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .navbar a {
    font-size: 14px;
  }
  .call {
    margin: 50px;
    padding: 10px;
    text-align: center;
  }
  .call h1 {
    font-size: 20px;
  }
  .call p {
    font-size: 18px;
  }
  .container-fluid h2 {
    font-size: 25px;
  }
  .container-fluid p {
    font-size: 16px;
  }
  footer {
    font-size: 25px;
  }
  .redes a {
    font-size: 25px;
  }
  .arriba i {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar a {
    font-size: 20px;
  }
  .call {
    margin: 50px;
    padding: 40px;
  }
  .call h1 {
    font-size: 28px;
  }
  .call p {
    font-size: 22px;
  }
  .container-fluid h2 {
    font-size: 30px;
  }
  .container-fluid p {
    font-size: 20px;
  }
  footer {
    font-size: 30px;
  }
  .redes a {
    font-size: 30px;
  }
  .arriba i {
    font-size: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .call {
    margin: 50px;
    padding: 50px;
  }
  .call h1 {
    font-size: 32px;
  }
  .call p {
    font-size: 25px;
  }
  .container-fluid h2 {
    font-size: 35px;
  }
  .container-fluid p {
    font-size: 25px;
  }
  footer {
    font-size: 35px;
    padding: 50px;
  }
  .redes a {
    font-size: 42px;
    padding: 40px;
  }
  .arriba i {
    font-size: 50px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .call {
    margin: 100px;
    padding: 50px;
  }
  .call h1 {
    font-size: 35px;
  }
  .call p {
    font-size: 27px;
  }
  .container-fluid h2 {
    font-size: 30px;
  }
  .container-fluid p {
    font-size: 20px;
  }
  footer {
    font-size: 40px;
  }
  .redes a {
    font-size: 50px;
  }
  .arriba i {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .call {
    margin: 120px;
    padding: 70px;
  }
  .call h1 {
    font-size: 40px;
  }
  .call p {
    font-size: 30px;
  }
  footer {
    font-size: 45px;
  }
  .redes a {
    font-size: 53px;
    padding: 20px;
  }
  .arriba i {
    font-size: 62px;
  }
}
/* comienzo de servicios */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(63, 61, 61);
}

.jumbotron {
  width: 100%;
}

.motor {
  display: flex;
  background-color: gray;
  color: white;
  height: auto;
  padding: 10px;
}

h2 {
  background-color: rgb(128, 128, 128);
  color: white;
  text-align: center;
  margin: 0;
}

img {
  width: 50%;
  height: 550px;
}

.motor h2 {
  width: 50%;
  color: red;
  text-shadow: 0 0 10px white;
  font-size: 50px;
}

span {
  color: black;
  font-size: 55px;
}

.motor h2 p {
  color: black;
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

.container-fluid {
  overflow: hidden;
}

.container-fluid ol {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #fafafa;
  background-color: black;
}

.call2 {
  border: 6px solid red;
  background-color: rgba(128, 128, 128, 0.712);
  padding: 10%;
  margin: 30px;
  border-radius: 25px;
}
.call2 h1 {
  font-size: 60px;
  color: red;
  text-shadow: 0 0 20px black;
}
.call2 p {
  font-size: 35px;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .motor {
    display: block;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  .motor h2 {
    width: 100%;
    font-size: 28px;
    padding: 10px;
  }
  span {
    font-size: 30px;
  }
  .motor h2 p {
    font-size: 22px;
    padding: 10px;
    margin: 0;
  }
  .container-fluid h3 {
    display: block;
    height: auto;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  .container-fluid ol {
    font-size: 20px;
  }
  .call2 h1 {
    font-size: 40px;
  }
  .call2 p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  .motor {
    display: block;
    height: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  .motor h2 {
    width: 100%;
    font-size: 38px;
    padding: 20px;
  }
  span {
    font-size: 40px;
  }
  .motor h2 p {
    font-size: 32px;
    padding: 20px;
    margin: 0;
  }
  .container-fluid h3 {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .container-fluid ol {
    font-size: 25px;
  }
  .call2 h1 {
    font-size: 45px;
  }
  .call2 p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 40px;
  }
  img {
    width: 60%;
    height: auto;
  }
  .motor h2 {
    width: 100%;
    font-size: 32px;
    padding: 15px;
  }
  span {
    font-size: 35px;
  }
  .motor h2 p {
    font-size: 22px;
    padding: 15px;
    margin: 0;
  }
  .container-fluid h3 {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .container-fluid ol {
    font-size: 25px;
  }
  .call2 {
    margin: 40px 80px;
  }
  .call2 h1 {
    font-size: 45px;
  }
  .call2 p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 45px;
  }
  img {
    width: 60%;
    height: auto;
  }
  .motor h2 {
    width: 100%;
    font-size: 40px;
    padding: 15px;
  }
  span {
    font-size: 45px;
  }
  .motor h2 p {
    font-size: 30px;
    padding: 15px;
    margin: 0;
  }
  .container-fluid h3 {
    display: block;
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .container-fluid ol {
    font-size: 30px;
  }
  .call2 h1 {
    font-size: 50px;
  }
  .call2 p {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  .motor h2 {
    font-size: 60px;
  }
  .motor span {
    font-size: 70px;
  }
  .motor h2 p {
    font-size: 45px;
  }
  img {
    width: 50%;
    height: auto;
  }
  .container-fluid h3 {
    display: block;
    height: auto;
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .container-fluid ol {
    font-size: 45px;
  }
  .call2 {
    margin: 40px 100px;
  }
}
/* fin pagina servicios */
/* inicio pag donde estamos */
.desc4 h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fafafa;
  font-size: 25px;
  padding: 15px;
  text-shadow: none;
}

button-1 {
  display: none;
}

button-2 {
  display: none;
}

button-3 {
  display: none;
}

#demo1 {
  background-color: black;
}

#demo2 {
  background-color: black;
}

#demo3 {
  background-color: black;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .desc4 h3 {
    font-size: 16px;
    padding: 10px;
  }
  iframe {
    border-radius: 10px;
    padding: 10px;
  }
  #demo1 {
    display: none;
  }
  #demo2 {
    display: flex;
  }
  #demo3 {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .desc4 h3 {
    font-size: 25px;
    text-shadow: none;
  }
  iframe {
    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    padding: 15px;
  }
  #demo1 {
    display: none;
  }
  #demo2 {
    display: flex;
  }
  #demo3 {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .desc4 h3 {
    font-size: 25px;
  }
  iframe {
    border-radius: 8px;
    margin: 80px;
  }
  #demo1 {
    display: none;
  }
  #demo2 {
    display: flex;
  }
  #demo3 {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .desc4 h3 {
    font-size: 30px;
  }
  iframe {
    border-radius: 15px;
    padding: 80px;
    margin: 80px;
  }
  #demo1 {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .desc4 h3 {
    color: #fafafa;
    font-size: 35px;
  }
  iframe {
    border-radius: 15px;
    margin: 20px 300px 20px 100px;
  }
  #demo1 {
    display: flex;
  }
  #demo2 {
    display: none;
  }
  #demo3 {
    display: none;
  }
}
/* fin pag donde estamos */
/* inicio pagina galeria */
* {
  margin: 0;
  padding: 0;
}

.galeria {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 300px);
  padding: 10px;
  background-color: gray;
  grid-gap: 20px;
}

.call h1 {
  margin: 10px;
  padding: 10px;
}

.call p {
  margin: 10px;
  padding: 10px;
}

.nosotros h2 {
  text-shadow: none;
  color: black;
  padding: 20px;
}

h2 {
  color: black;
}

.pgaleria p {
  margin: 0;
  padding: 20px;
  background-color: rgb(63, 61, 61);
}

.titulogaleria h2 {
  color: black;
  text-shadow: none;
  padding: 10px;
}

.item {
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgb(63, 61, 61);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(90%);
  transition: all 0.8s;
  padding: 10px;
}

.item:hover {
  background-size: 110%;
  filter: grayscale(0%);
}

.item1 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.02_44e3be40.jpg);
}

.item2 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.02_bb90f10b.jpg);
}

.item3 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_0f0e5d50.jpg);
}

.item4 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_8a6c6800.jpg);
}

.item5 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_97d1463b.jpg);
}

.item6 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_a1a162f4.jpg);
}

.item7 {
  background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_b9f4e8bd.jpg);
}

.item8 {
  background-image: url(../multimedia/motor.jpg);
}

.item9 {
  background-image: url(../multimedia/mesadetrabajo.jpg);
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 250px);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar a {
    font-size: 18px;
    margin: 10px;
    padding: 8px;
  }
  .call h1 {
    font-size: 40px;
  }
  .nosotros h2 {
    font-size: 40px;
  }
  .titulogaleria h2 {
    font-size: 40px;
  }
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 220px);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  footer {
    font-size: 30px;
  }
  .redes a {
    font-size: 40px;
  }
  .arriba i {
    font-size: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    min-height: 120px;
  }
  .navbar a {
    font-size: 20px;
  }
  .call h1 {
    font-size: 45px;
  }
  .nosotros h2 {
    font-size: 45px;
  }
  .titulogaleria h2 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    min-height: 150px;
  }
  .navbar a {
    font-size: 22px;
  }
  .call h1 {
    font-size: 55px;
  }
  .call p {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
  }
  .nosotros h2 {
    font-size: 53px;
    color: black;
    padding: 20px;
  }
  p {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
  }
  h2 {
    font-size: 50px;
    padding: 10px;
  }
  .galeria {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 450px);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .item7 {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .item9 {
    grid-column: 3/5;
    grid-row: 5/6;
  }
}
/* fin pag galeria */
* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.textocontacto1 h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  text-shadow: none;
  padding: 10px;
}

.textocontacto2 h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fafafa;
  text-shadow: none;
  margin: 10px;
  padding: 10px;
}

form {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.711);
  border-radius: 15px;
  width: 600px;
  padding-left: 20px;
  margin: 40px 150px;
  font-size: 200%;
  font-weight: 1000;
}
form input {
  border-radius: 10%;
  width: 90%;
  padding: 1.5%;
}
form .enviar {
  text-align: end;
  margin: 5px 50px 5px 10px;
}

.enviar a {
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .call h1 {
    font-size: 25px;
  }
  .textocontacto1 h2 {
    font-size: 20px;
  }
  .textocontacto2 h3 {
    font-size: 20px;
  }
  form {
    background-color: gray;
    font-size: 20px;
    border-radius: 8px;
    padding: 25px;
    width: 280px;
    margin: 20px;
  }
  .enviar {
    text-align: end;
    margin: 3px 40px 5px;
  }
  .enviar a {
    color: black;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .call h1 {
    font-size: 32px;
  }
  .textocontacto1 h2 {
    font-size: 25px;
  }
  .textocontacto2 h3 {
    font-size: 25px;
  }
  form {
    width: 380px;
    padding: 28px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .call h1 {
    font-size: 37px;
  }
  .textocontacto1 h2 {
    font-size: 28px;
  }
  .textocontacto2 h3 {
    font-size: 28px;
  }
  form {
    border-radius: 10px;
    width: 400px;
    height: 620px;
    padding-left: 50px;
    margin: 80px 200px 80px 150px;
    padding: 40px;
    font-size: 28px;
  }
  input {
    border-radius: 10%;
    width: 80%;
    padding: 10%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .call h1 {
    font-size: 42px;
  }
  .textocontacto1 h2 {
    font-size: 32px;
  }
  .textocontacto2 h3 {
    font-size: 32px;
  }
  form {
    font-size: 32px;
    padding: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .call h1 {
    font-size: 48px;
  }
  .textocontacto1 h2 {
    font-size: 38px;
  }
  .textocontacto2 h3 {
    font-size: 38px;
  }
  font {
    font-size: 38px;
  }
}
/* fin pag contacto */

/*# sourceMappingURL=estilos.css.map */
