/* inicio pag donde estamos */

h3 {
    color: $color-blanco;
    text-shadow: 0 0 7px white;
    font-size: 25px;
}

iframe {
    border-radius: 15px;
    margin: 50px 50px 50px 200px;
}

/* fin pag donde estamos */