/* inicio pag donde estamos */

h3 {
    color: $color-blanco;
    text-shadow: 0 0 7px $color-blanco;
    font-size: 25px;
}
button-1 {
    display: none;
}
button-2 {
    display: none;
}
button-3{
    display: none;
}

@media only screen and (min-width: 1200px) {
    h3 {
        color: $color-blanco;
        text-shadow: 0 0 7px $color-blanco;
        font-size: 35px;
    }
    #demo1{
        display: flex;
    }

    #demo2 {
        display: none;
    }

    #demo3 {
        display: none;
}

iframe {
    border-radius: 15px;
    margin: 20px 300px 20px 100px;
}
}

@media only screen and (max-width: 1024px) {
    #demo1{
        display: flex;
    }
    #demo2{
        display: none;
    }
    #demo3{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 25px;
    }

    iframe {
        border-radius: 5px;
        margin: 50px 50px 50px 50px;
    }

    #demo1 {
        display: none;
    }

    #demo2 {
        display: flex;
    }

    #demo3 {
        display: none;
    }
S
    footer {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 320px) {
    h3 {
        font-size: 20px;
    }

    #demo1 {
        display: none;
    }
    #demo2{
        display: none;
    }
    #demo3{
        display: flex;
    }

}

/* fin pag donde estamos */