/* inicio pag donde estamos */

.desc4 h3 {
    font-family: "Montserrat Alternates", sans-serif;
    color: $color-blanco;
    font-size: 25px;
    padding: 15px;
    text-shadow: none;
}
button-1 {
    display: none;
}
button-2 {
    display: none;
}
button-3{
    display: none;
}

#demo1 {
    background-color: $color-negro;
}

#demo2 {
    background-color: $color-negro;
}

#demo3 {
    background-color: $color-negro;
}


@media only screen and (min-width: 320px) and (max-width: 575px) {
    .desc4 h3 {
        font-size: 16px;
        padding: 10px;
    }

    iframe {
        border-radius: 10px;
        padding: 10px;
    }

    #demo1 {
        display: none;
    }
    #demo2{
        display: flex;
    }
    #demo3{
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .desc4 h3 {
        font-size: 25px;
        text-shadow: none;
    }

    iframe {
        border-radius: 10px;
        margin: 50px 50px 50px 50px;
        padding: 15px;
    }

    #demo1 {
        display: none;
    }

    #demo2 {
        display: flex;
    }

    #demo3 {
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .desc4 h3 {
        font-size: 25px;
    }

    iframe {
        border-radius: 8px;
        margin: 80px ;
    }

    #demo1{
        display: none;
    }
    #demo2{
        display: flex;
    }
    #demo3{
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .desc4 h3 {
        font-size: 30px;
    }

    iframe {
        border-radius: 15px;
        padding: 80px;
        margin: 80px;
    }

    #demo1 {
        display: flex;
    }

}

@media only screen and (min-width: 1200px) {
    .desc4 h3 {
        color: $color-blanco;
        font-size: 35px;
    }

    iframe {
        border-radius: 15px;
        margin: 20px 300px 20px 100px;
    }

    #demo1{
        display: flex;
    }

    #demo2 {
        display: none;
    }

    #demo3 {
        display: none;
}

}

/* fin pag donde estamos */