/* inicio pagina galeria */

*{
    margin: 0;
    padding: 0;
}

.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 300px);
    padding: 10px;
    background-color: $color-gris;
    grid-gap: 20px;
}

.call h1 {
    margin: 10px;
    padding: 10px;
}

.call p {
    margin: 10px;
    padding: 10px;
}

.nosotros h2 {
    text-shadow: none;
    color: $color-negro;
    padding: 20px;
}

h2 {
    color: $color-negro;
}

.pgaleria p {
    margin: 0;
    padding: 20px;
    background-color: $color-grisoescuro;
}

.titulogaleria h2 {
    color: $color-negro;
    text-shadow: none;
    padding: 10px;
    
}

.item {
    border: 5px solid $color-negro;
    border-radius: 10px;
    background-color: $color-grisoescuro;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(90%);
    transition: all 0.8s;
    padding: 10px;
}

.item:hover{
    background-size: 110%;
    filter: grayscale(0%);
}

.item1 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.02_44e3be40.jpg);
}

.item2 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.02_bb90f10b.jpg);
}

.item3 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_0f0e5d50.jpg);
}

.item4 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_8a6c6800.jpg);
}

.item5 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_97d1463b.jpg);
}

.item6 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_a1a162f4.jpg);
}

.item7 {
    background-image: url(../multimedia/Imagen\ de\ WhatsApp\ 2024-03-11\ a\ las\ 01.26.03_b9f4e8bd.jpg);
}

.item8 {
    background-image: url(../multimedia/motor.jpg);
}

.item9 {
    background-image: url(../multimedia/mesadetrabajo.jpg);
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 250px);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
.galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
}

.item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.item2 {
    grid-column: 2/4;
    grid-row: 1/2;
}

.item3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.item4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.item5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.item6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.item7 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.item8 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.item9 {
    grid-column: 3/4;
    grid-row: 4/5;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar a {
        font-size: 18px;
        margin: 10px;
        padding: 8px;
    }

    .call h1 {
        font-size: 40px;
    }

    .nosotros h2 {
        font-size: 40px;
    }
    .titulogaleria h2 {
        font-size:  40px;
    }

    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 220px);
    }

    .item1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .item2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .item3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .item5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .item6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .item8 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .item9 {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    footer {
        font-size: 30px;
    }

    .redes a {
        font-size: 40px;
    }

    .arriba i {
        font-size: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .navbar {
        min-height: 120px;
    }

    .navbar a {
        font-size: 20px;
    }

    .call h1 {
        font-size: 45px;
    }

    .nosotros h2 {
        font-size: 45px;
    }
    .titulogaleria h2 {
        font-size:  45px;
    }

}


@media only screen and (min-width: 1200px) {

    .navbar {
        min-height: 150px;
    }

    .navbar a {
        font-size: 22px;
    }

    .call h1 {
        font-size: 55px;
    }

    .call p {
        font-size: 40px;
        margin: 10px;
        padding: 10px;
    }

    .nosotros h2 {
        font-size: 53px;
        color: $color-negro;
        padding: 20px;
    }

    p {
        font-size: 25px;
        padding: 10px;
        margin: 10px;
    }

    h2 {
        font-size: 50px;
        padding: 10px;
    }


    .galeria {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 450px);
    }

.item1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.item2 {
    grid-column: 3/5;
    grid-row: 1/2;
}

.item3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.item4 {
    grid-column: 3/5;
    grid-row: 2/3;
}

.item5 {
    grid-column: 1/3;
    grid-row: 3/4;
}

.item6 {
    grid-column: 1/5;
    grid-row: 4/5;
}

.item7 {
    grid-column: 3/5;
    grid-row: 3/4;
}

.item8 {
    grid-column: 1/3;
    grid-row: 5/6;
}

.item9 {
    grid-column: 3/5;
    grid-row: 5/6;
}

}
/* fin pag galeria */