/* comienzo index */

* {
    padding: 0;
    margin: 0;
}

@mixin anclas {
        border: 5px solid rgba(0, 0, 0, 0.61);
        background-color: $color-gris;   
        
}

@mixin ancla2 {
    border: 3px solid $color-grisoescuro;
    border-radius: 10px;
    background-color: $color-blanco;
}

section img {
    height: auto;
    max-width: 280PX;
    display: flexbox;
    margin: 20px;
    padding: 10px;
}

.navbar {
    min-height: 80px;
    position: sticky;

    a {
        color: $color-blanco;
        font-size: 18px;
        font-family: "Montserrat Alternates", sans-serif;
        margin: 20px;

        &:hover {
            color: $color-naranja;
            text-shadow: 0 0 5px $color-blanco;
        }
    }
}

.navbar button {
    margin: 20px;
    height: auto;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.jumbotron {
    background-image: url(../multimedia/imagenjumbotron.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
}

.call {
    height: fit-content;
    text-align: center;
    text-shadow: 0 0 10px $color-rojo;
    color: $color-negro;
    background-color: rgba(255, 255, 255, 0.452);
    border: 5px solid rgba(255, 255, 255, 0.438);
    border-radius: 15px;
    padding: 30px;

    h1 {
        font-size: 18px;
    }

    p {
        font-family: "Madimi One", sans-serif; ;
        color: $color-negro;
        font-size: 15px;
        text-shadow: none;
    }
}

.container-fluid {
    height: 100%;
    overflow: hidden;

    h2 {
        color: $color-negro;
    }

    .img1 {
        @include anclas;
    }

    .img2{
        @include anclas;
    }

    .img3 {
        @include anclas;
    }
}


.row img {
    width: auto;
    height: 180px;
}

h1 {
    font-size: 35px;
    font-family: "Madimi One", sans-serif;
}

h2 {
    font-family: "Madimi One", sans-serif;
    margin: 15px;
}

p {
    font-size: 22px;
    font-family: "Montserrat Alternates", sans-serif;
    color: $color-blanco;
    margin: 15px;
}

footer {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat Alternates", sans-serif;
    padding: 100px;
    text-shadow: 0 0 7px $color-rojo;
}

.redes a {
    text-decoration: none;
    text-align: end;
    color: $color-blanco;
    font-size: 30px;
    text-shadow: 0 0 7px $color-rojo;
    margin-top: 35px;
    margin-left: 20px;
    margin-inline-end: 10px;
}

.arriba i {
    color: $color-blanco;
    text-align: center;
    margin-left: 10PX;
    margin-top: 35px;
    text-shadow: 0 0 10px $color-rojo;
    font-size: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {  

    .navbar a {
        font-size: 14px;
    }

    .call {
        margin: 50px;
        padding: 10px;
        text-align: center;
    }
    .call h1 {
        font-size: 20px;
    }
    .call p {
        font-size: 18px;
    }
    
    .container-fluid h2 {
        font-size: 25px;
    }

    .container-fluid p {
        font-size: 16px;
    }

    footer {
        font-size: 25px;
    }
    .redes a {
        font-size: 25px;
    }
    .arriba i {
        font-size: 28px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .navbar a {
        font-size: 20px;
    }
    .call {
        margin: 50px;
        padding: 40px;
    }
    .call h1 {
        font-size: 28px;
    }
    .call p {
        font-size: 22px;
    }
    .container-fluid h2 {
        font-size: 30px;
    }
    .container-fluid p {
        font-size: 20px;
    }
    footer {
        font-size: 30px;
    }
    .redes a {
        font-size: 30px;
    }
    .arriba i {
        font-size: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .call {
        margin: 50px;
        padding: 50px;
    }
    .call h1 {
        font-size: 32px;
    }
    .call p {
        font-size: 25px;
    }
    .container-fluid h2 {
        font-size: 35px;
    }
    .container-fluid p {
        font-size: 25px;
    }

    footer {
        font-size: 35px;
        padding: 50px;
    } 

    .redes a {
        font-size: 42px;
        padding: 40px;
    }

    .arriba i {
        font-size: 50px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .call {
        margin: 100px;
        padding: 50px;
    }
    .call h1 {
        font-size: 35px;
    }
    .call p {
        font-size: 27px;
    }
    .container-fluid h2 {
        font-size: 30px;
    }
    .container-fluid p {
        font-size: 20px;
    }
    footer {
        font-size: 40px;
    }
    .redes a {
        font-size: 50px;
    }
    .arriba i {
        font-size: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .call {
        margin: 120px;
        padding: 70px;
    }
    .call h1 {
        font-size: 40px;
    }
    .call p {
        font-size: 30px;
    }
    footer {
        font-size: 45px;
    }
    .redes a {
        font-size: 53px;
        padding: 20px 
    } 
    .arriba i {
        font-size: 62px;
    }
}