/* comienzo de servicios */
* {
    margin: 0;
    padding: 0;

} 

.motor {
    display: flex;
    background-color: gray;
    color: white;
    text-shadow: 0 0 7px red;
}

h2 {
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    text-shadow: 0 0 7px red;
    margin: 0;
}


img {
    width: 50%;
    height: 500px;
}

.motor h2 {
    padding: 20px 30px 30px 30px;
    width: 50%;
    color: red;
    text-shadow: 0 0 10px white;
    font-size: 50px;
}
.motor h2 p{
    color: $color-negro;
    height: 100px;
    padding: 50px;
}
.container-fluid ol {
    font-size: 30px;
    text-shadow: 0 0 7px $color-rojo;
    background-color: $color-grisoescuro;
} 
span {
    color: $color-negro;
    font-size: 45px;
}

.call2 {
    border: 10px solid red;
    background-color: rgba(128, 128, 128, 0.712);
    padding: 10%;
    margin: 10px;
    border-radius: 25px;

    h1 {
        font-size: 60px;
        color: red;
        text-shadow: 0 0 20px black;
    }

    p {
        font-size: 35px;
        color: white;
        text-shadow: 0 0 20px red;
    }
}

body {
    background-color: $color-negro;
}

@media only screen and (min-width: 1200px) {
    img {
        width: 50%;
    }

    .motor h2 p {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }
    }

    .call2 {
        h1 {
            font-size: 80px;
        }

        p {
            font-size: 35px;
        }
    }


@media only screen and (max-width: 768px) and (min-width: 321px) {
    img {
        width: 50%;
        height: 400px;
    }

    .motor {
        height: 400px;
    }

    .motor h2{
        font-size: 35px;
    }

    .motor p{
        font-size: 20px;
    }
    .container-fluid ol{
        font-size: 20px;
    }

    .call2{
        height: 300px;
        padding: 10px;
    }
    .call2 h1{
        font-size: 60px;
        margin: 20px 60px 20px;
    }
    .call2 p{
        font-size: 25px;
        margin: 30px 10px 30px;
    }
}


@media only screen and (max-width: 320px) {
    img {
        width: 60%;
        height: 320px;
    }

    .motor h2 {
        font-size: 16px;
        padding: 10px;
        margin: 1px;
    }

    span {
        font-size: 16px;
    }

    .container-fluid ol{
        font-size: 15px;
    }
    .motor {
        h2 p {
            font-size: 10px;
        }

        h3 {
            display: none;
            width: 1px;
            height: 1px;
        }
    }

    .call2 {
        border: 4px solid red;

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }
    }

}

/* fin pagina servicios */