/* comienzo de servicios */
* {
    margin: 0;
    padding: 0;

}

body {
    background-color: $color-grisoescuro;
}

.motor {
    display: flex;
    background-color: gray;
    color: white;
    text-shadow: 0 0 7px red;
    height: 550px;
}

h2 {
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    text-shadow: 0 0 7px red;
    margin: 0;
}


img {
    width: 50%;
    height: 550px;
}

.motor h2 {
    width: 50%;
    color: red;
    text-shadow: 0 0 10px white;
    font-size: 50px;
}

span {
    color: $color-negro;
    font-size: 55px;
}

.motor h2 p {
    color: $color-negro;
    text-shadow: 0 0 7px $color-rojo;
    font-size: 30px;
    padding: 10px;
    margin: 10;
}

.container-fluid ol {
    font-size: 30px;
    text-shadow: 0 0 7px $color-rojo;
    background-color: $color-grisoescuro;
}

.call2 {
    border: 10px solid red;
    background-color: rgba(128, 128, 128, 0.712);
    padding: 10%;
    margin: 10px;
    border-radius: 25px;

    h1 {
        font-size: 60px;
        color: red;
        text-shadow: 0 0 20px black;
    }

    p {
        font-size: 35px;
        color: white;
        text-shadow: 0 0 20px red;
    }
}






/* fin pagina servicios */